.container {
  // width: 1300px;
}

.resume__header {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  h1 {
    font-weight: 400;
    padding: 0px 50px 20px 50px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
  }
}

.resume_main--wrapper {
  display: flex;
  gap: 30px;
  padding: 20px 50px;
  border-bottom: 1px solid #ccc;
  div.first {
    width: 13%;
  }
  p:first-child {
    margin-top: 0;
  }
  @media (max-width: 1024px) {
    padding: 10px 20px;
  }
}

.emptyBlock {
  display: flex;
  align-items: center;
  margin: auto;
  height: 700px;
  width: 500px;
  text-align: center;
  flex-direction: column;
}