@import "../../styles/constants.scss";

.container {
  display: flex;
  margin: auto;
}

.content {
  display: flex;
  align-self: center;
  flex-direction: column;
  max-width: 1300px;
}

.header {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  h1 {
    font-weight: 400;
    border-bottom: 1px solid #ccc;
  }
  
  @media (max-width: 1024px) {
    font-size: 24px;
    h1 {
      padding: 0px 10px;
    }
  }
}

.main__info {
  max-width: 750px;
}

.main__interests {
  max-width: 750px;
  h2 {
    font-weight: 400;
  }
}

.footer {
  border-top: 1px solid #ccc;
  text-align: center;
  font-size: 12px;
  padding: 7px 0px;
}

.main__controls--form {
  display: flex;
  gap: 20px;
}
.main {
  @media(max-width: 1024px) {
    padding: 0 10px;
  }
}

